@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap");

html,
body {
  background-color: whitesmoke;
}

.grid {
  margin: 100px 0 0;
}

.button-sort {
  border: none;
  font-family: "Rubik", sans-serif;
}
